body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.login-container {
    width: 500px; 
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}
.btn-primary, .btn-google, .btn-ifood {
    width: 100%;
}

.btn-primary{
    background: #000000;
}

.btn-ifood{
    background: url(/Images/ifood-logo-16.png)  no-repeat  left;
}

.btn-google{
    background: url(/Images/google.png) no-repeat left;
    
}

.divider {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.terms {
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-top: 5%;
}


.sidebar-sticky{
    height: 100%;
    width: 14%;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-image: linear-gradient(to bottom, rgb(248, 220, 220), rgb(243, 103, 103), rgb(255, 12, 12));
    overflow-x: hidden; 
    padding-top: 15px;
 
}

.sidebar a {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
    margin-bottom: 10px;

}

.sidebar a:hover {
    color: #f76767;
}

.sidebar h2{
    padding-left: 8px;
    margin-bottom: 86px;

}
.btn-sair{
    background: url(/Images/sair\ \(1\).png) no-repeat right;
    padding: 20px;
    margin-left: 38px;
}

.active{
    background: url(/Images/casa.png) no-repeat left;
}

.saldo{
    background:  url(/Images/pesquisa.png) no-repeat left;
}

.pagamento{
    background: rgb(255, 142, 142) url(/Images/bolsa-de-dinheiro\ \(1\).png) no-repeat left;
}

.relatorio {
    background:  url(/Images/relatorio.png) no-repeat left;
}

.icone-ifood{
    background: url(/Images/ifood-logo-16.png)  no-repeat  center;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-weight: bold;
}

#saldo, #despesas, #receitas, #faturamento {
    font-size: 1.5em;
    color: #333;
}


.card-header {
    font-size: 1.25rem;
    background-color: #f76767;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}
